.loader {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid red;
  margin: auto;
  margin-top: 200px;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  101% { transform: rotate(-360deg); }
}
